-
 set_bemto_settings({
  prefix: '',
  element: '__',
  modifier: '--'
 })

mixin icon(name)
 svg.svg-icon
  use(href=`assets/icons/sprite.svg#icon-${name}`)

mixin filter-links(type)
 +b.filter-links 
  if type === 'rows'
   +e.link(class=" is-active")
    +icon('rows')
    span Списком
  else
   +e.link(class=" is-active")
    +icon('grid')
    span Карточками
  +e.link 
   +icon('map-pin')
   span На карте

mixin filter(argObj)
 +e.mobile
  +e.mobile-btn 
   +icon('sort')
   span Сортировка
  +e.mobile-btn 
   +icon('filter')
   span Фильтр
 if argObj
  +e.row
   if argObj.hasOwnProperty('storey')
    +e.item
     +b.SELECT(name="storey" data-placeholder="Этажность").js-select
      option(selected disabled) Этажность
      option(value="1") Этажность
      option(value="2") Этажность
      option(value="3") Этажность
   if argObj.hasOwnProperty('square')
    +e.item
     +b.SELECT(name="square" data-placeholder="Площадь жилой части, м2").js-select
      option(selected disabled) Площадь жилой части, м2
      option(value="1") Площадь жилой части
      option(value="2") Площадь жилой части
      option(value="3") Площадь жилой части
   if argObj.hasOwnProperty('price')
    +e.item
     +b.SELECT(name="price" data-placeholder="Стоимость").js-select
      option(selected disabled) Стоимость
      option(value="1") Стоимость
      option(value="2") Стоимость
      option(value="3") Стоимость
   if argObj.hasOwnProperty('type')
    +e.item
     +b.SELECT(name="type" data-placeholder="Тип конструкции").js-select
      option(selected disabled) Тип конструкции
      option(value="1") Тип конструкции
      option(value="2") Тип конструкции
      option(value="3") Тип конструкции
   if argObj.hasOwnProperty('bedrooms')
    +e.item
     +b.SELECT(name="bedrooms" data-placeholder="Кол-во спален").js-select
      option(selected disabled) Кол-во спален
      option(value="1") Кол-во спален
      option(value="2") Кол-во спален
      option(value="3") Кол-во спален
   if argObj.hasOwnProperty('region')
    +e.item
     +b.SELECT(name="region" data-placeholder="Регион").js-select
      option(selected disabled) Регион
      option(value="1") Регион
      option(value="2") Регион
      option(value="3") Регион
   if argObj.hasOwnProperty('tour')
    +e.item
     +b.SELECT(name="tags" data-placeholder="Теги").js-select
      option(value="Только продающиеся") Только продающиеся
      option(value="Можно посетить") Можно посетить
      option(value="3D-тур") 3D-тур
   if argObj.hasOwnProperty('additionally')
    +e.item
     +b.SELECT(name="additionally" data-placeholder="Дополнительно").js-select
      option(selected disabled) Дополнительно
      option(value="1") Дополнительно
      option(value="2") Дополнительно
      option(value="3") Дополнительно
   if argObj.hasOwnProperty('ownership')
    +e.item
     +b.SELECT(name="ownership" data-placeholder="Форма владения").js-select
      option(selected disabled) Форма владения
      option(value="1") Форма владения
      option(value="2") Форма владения
      option(value="3") Форма владения
   if argObj.hasOwnProperty('communications')
    +e.item
     +b.SELECT(name="communications" data-placeholder="Коммуникации").js-select
      option(selected disabled) Коммуникации
      option(value="1") Коммуникации
      option(value="2") Коммуникации
      option(value="3") Коммуникации
   if argObj.hasOwnProperty('resetBtn')
    +e.item 
     +e.reset-link 
      +icon('cross')
      span Сбросить фильтры

mixin page-sorting(hideSquare)
 +b.page-sorting(class="__sorting") 
  mixin sort-svg()
   svg(width='8' height='14' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M3.691.374a.4.4 0 0 1 .618 0L7.79 4.595a.4.4 0 0 1-.308.655H.518a.4.4 0 0 1-.308-.655L3.69.375Z')
    path(d='M4.309 13.626a.4.4 0 0 1-.618 0L.21 9.405a.4.4 0 0 1 .308-.655h6.964a.4.4 0 0 1 .308.655l-3.481 4.22Z')
  +e.label Сортировать по:
  +e.LABEL.button(class=" js-toggle-sorting") 
   input(type="radio" value="price" name="sorting" checked).sorting-asc
   span стоимости
   +sort-svg()
  if !hideSquare
   +e.LABEL.button(class=" js-toggle-sorting") 
    input(type="radio" value="square" name="sorting")
    span площади
    +sort-svg()

mixin catalog-row-item(item)
 +b.catalog-row-item
  +e.A(href=item.link).image 
   img(src=item.img, alt=item.title)
  +e.content 
   +e.A(href=item.link).title=item.title 
   if item.tags && item.tags.length > 0
    +e.tags 
     each tag in item.tags
      +e.tag 
       +icon(tag.icon)
       span=tag.name
   +e.params 
    +e.params-item 
     +e.params-name Локация
     +e.params-value 
      +icon('map-pin')
      span Московская обл.
    +e.params-item 
     +e.params-name Стоимость участка
     +e.params-value 
      +icon('rub')
      span от 230 000 ₽
    +e.params-item 
     +e.params-name Форма управления
     +e.params-value 
      +icon('gear')
      span ДНП 
       span.answer-icon 
        +icon('help')
    +e.params-item 
     +e.params-name Готовность дома
     +e.params-value 
      +icon('check')
      span Да
    +e.params-item 
     +e.params-name Удаленность от города
     +e.params-value 
      +icon('routing')
      span 80 км

mixin catalog-item(item)
 +b.catalog-item 
  +e.inner
   +e.slider.swiper-container.js-catalog-item-swiper
    if item.tags && item.tags.length > 0
     +e.tags 
      each tag in item.tags
       +e.tag 
        if tag === 'Можно посетить'
         +icon('home')
        else if tag === '3D-тур'
         +icon('cube')
        else if tag === 'Видеотрансляция'
         +icon('video')
        span=tag
    if item.isFinished
     +e.status Продан
    +e.slider-pagination.swiper-pagination
    .swiper-wrapper 
     .swiper-slide
      +e.A(href=item.link).image 
       img(src=item.img, alt=item.title)
     .swiper-slide
      +e.A(href=item.link).image 
       img(src='assets/images/catalog/2.png', alt=item.title)
     .swiper-slide
      +e.A(href=item.link).image 
       img(src='assets/images/catalog/3.png', alt=item.title)
     .swiper-slide
      +e.A(href=item.link).image 
       img(src='assets/images/catalog/2.png', alt=item.title)

   +e.A(href=item.link).title=item.title 
   +e.UL.params 
    +e.LI.params-item 
     +e.params-icon 
      +icon('size')
     +e.params-value #{item.square} м²
    +e.LI.params-item 
     +e.params-icon 
      +icon('menu')
     +e.params-value=item.floor
    if item.time
     +e.LI.params-item 
      +e.params-icon 
       +icon('clock')
      +e.params-value=item.time
    if item.category
     +e.LI.params-item 
      +e.params-icon 
       +icon('play')
      +e.params-value=item.category
    if item.year
     +e.LI.params-item 
      +e.params-icon 
       +icon('calendar')
      +e.params-value=item.year
   if item.price
    +e.price=item.price

  // Hidden item content
  +e.hidden
   if block 
    block