-
 set_bemto_settings({
  prefix: '',
  element: '__',
  modifier: '--'
 })

mixin icon(name)
 svg.svg-icon
  use(href=`assets/icons/sprite.svg#icon-${name}`)

mixin filter-links(type)
 +b.filter-links 
  if type === 'rows'
   +e.link(class=" is-active")
    +icon('rows')
    span Списком
  else
   +e.link(class=" is-active")
    +icon('grid')
    span Карточками
  +e.link 
   +icon('map-pin')
   span На карте

mixin filter(argObj)
 +e.mobile
  +e.mobile-btn 
   +icon('sort')
   span Сортировка
  +e.mobile-btn 
   +icon('filter')
   span Фильтр
 if argObj
  +e.row
   if argObj.hasOwnProperty('storey')
    +e.item
     +b.dropdown-module 
      +e.button Этажность
      +e.hidden 
       +e.UL.list 
        +e.LI.list-item 
         +e.LABEL.label.radio
          input(type="radio" name="storey" value="Любая" checked)
          +e.SPAN.list-row
           +e.name Любая
           +e.count 32
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="storey" value="1 этаж")
          +e.SPAN.list-row
           +e.name 1 этаж
           +e.count 20
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="storey" value="2 этажа")
          +e.SPAN.list-row
           +e.name 2 этажа
           +e.count 12


   if argObj.hasOwnProperty('square')
    +e.item
     +b.dropdown-module 
      +e.button Площадь жилой части, м2
      +e.hidden(class="--large") 
       +b.field 
        label Площадь жилой части, м2

        +b.filter-range 
         +b.range-slider-wrapper(data-min="0" data-max="2000" data-step="1")
           .range-slider
           .filter-range__fields
             +b.field
              +e.input
               +e.before(class="--gray") От:
               input(type="number" value="0" name="square_from" class="js-range-min")
          
      
             +b.field
              +e.input
               +e.before(class="--gray") До:
               input(type="number" value="2000" name="square_to" class="js-range-max")
               
         +e.reset-btn 
          +icon('cross')
          span Сбросить

   if argObj.hasOwnProperty('price')
    +e.item
     +b.dropdown-module 
      +e.button Стоимость
      +e.hidden(class="--large") 
       +b.field 
        label Стоимость

        +b.filter-range 
         +b.range-slider-wrapper(data-min="0" data-max="100000000" data-step="10000")
           .range-slider
           .filter-range__fields
             +b.field
              +e.input
               +e.before(class="--gray") От:
               input(type="number" value="0" name="price_from" class="js-range-min")
               +e.after(class="--gray") ₽
      
             +b.field
              +e.input
               +e.before(class="--gray") До:
               input(type="number" value="100000000" name="price_to" class="js-range-max")
               +e.after(class="--gray") ₽
         +e.reset-btn 
          +icon('cross')
          span Сбросить
       

   if argObj.hasOwnProperty('type')
    +e.item
     +b.dropdown-module 
      +e.button Тип конструкции
      +e.hidden 
       +e.UL.list 
        +e.LI.list-item 
         +e.LABEL.label.radio
          input(type="radio" name="type" value="Любой" checked)
          +e.SPAN.list-row
           +e.name Любой
           +e.count 64
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="type" value="Каркас")
          +e.SPAN.list-row
           +e.name Каркас
           +e.count 12
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="type" value="Блоки")
          +e.SPAN.list-row
           +e.name Блоки
           +e.count 32
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="type" value="Заводская готовность")
          +e.SPAN.list-row
           +e.name Заводская готовность
           +e.count 20
    
   if argObj.hasOwnProperty('bedrooms')
    +e.item
     +b.dropdown-module 
      +e.button Кол-во спален
      +e.hidden 
       +e.UL.list 
        +e.LI.list-item 
         +e.LABEL.label.radio
          input(type="radio" name="bedrooms" value="Любое" checked)
          +e.SPAN.list-row
           +e.name Любое
           +e.count 64
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="bedrooms" value="1 спальня")
          +e.SPAN.list-row
           +e.name 1 спальня
           +e.count 5
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="bedrooms" value="2 спальни")
          +e.SPAN.list-row
           +e.name 2 спальни
           +e.count 22
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="bedrooms" value="3 спальни")
          +e.SPAN.list-row
           +e.name 3 спальни
           +e.count 13
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="bedrooms" value="4 спальни")
          +e.SPAN.list-row
           +e.name 4 спальни
           +e.count 12

   if argObj.hasOwnProperty('region')
    +e.item
     +b.dropdown-module 
      +e.button Регион
      +e.hidden(class="--medium")
       +e.search 
        input(type="text" name="dropdown-search" data-search placeholder="Поиск")
        +icon('search')
       +e.UL.list 
        +e.LI.list-item(data-filter-item data-filter-name="Любой")
         +e.LABEL.label.radio
          input(type="radio" name="region" value="Любой" checked)
          +e.SPAN.list-row
           +e.name Любой
           +e.count 64
        +e.LI.list-item(data-filter-item data-filter-name="Ленинградская область")
         +e.LABEL.label.checkbox
          input(type="radio" name="region" value="Ленинградская область")
          +e.SPAN.list-row
           +e.name Ленинградская область
           +e.count 32
        +e.LI.list-item(data-filter-item data-filter-name="Московская область")
         +e.LABEL.label.checkbox
          input(type="radio" name="region" value="Московская область")
          +e.SPAN.list-row
           +e.name Московская область
           +e.count 12
        +e.LI.list-item(data-filter-item data-filter-name="Свердловская область")
         +e.LABEL.label.checkbox
          input(type="radio" name="region" value="Свердловская область")
          +e.SPAN.list-row
           +e.name Свердловская область
           +e.count 4
        +e.LI.list-item(data-filter-item data-filter-name="Самарская область")
         +e.LABEL.label.checkbox
          input(type="radio" name="region" value="Самарская область")
          +e.SPAN.list-row
           +e.name Самарская область
           +e.count 5

   if argObj.hasOwnProperty('additionally')
    +e.item
     +b.dropdown-module 
      +e.button Дополнительно
      +e.hidden 
       +e.UL.list 
        +e.LI.list-item 
         +e.LABEL.label.radio
          input(type="radio" name="additionally" value="Все" checked)
          +e.SPAN.list-row
           +e.name Все
           +e.count 64
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="additionally" value="Только продающиеся")
          +e.SPAN.list-row
           +e.name Только продающиеся
           +e.count 12

        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="additionally" value="Можно посетить")
          +e.SPAN.list-row
           +e.name Можно посетить
           +e.count 32
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="additionally" value="3D-тур")
          +e.SPAN.list-row
           +e.name 3D-тур
           +e.count 20
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="additionally" value="Видеотрансляция")
          +e.SPAN.list-row
           +e.name Видеотрансляция
           +e.count 10
    
   if argObj.hasOwnProperty('ownership')
    +e.item
     +b.dropdown-module 
      +e.button Форма владения
      +e.hidden 
       +e.UL.list 
        +e.LI.list-item 
         +e.LABEL.label.radio
          input(type="radio" name="ownership" value="Любая" checked)
          +e.SPAN.list-row
           +e.name Любая
           +e.count 64
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="ownership" value="СНТ ДНП")
          +e.SPAN.list-row
           +e.name СНТ ДНП
           +e.count 64
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="ownership" value="ИЖС")
          +e.SPAN.list-row
           +e.name ИЖС
           +e.count 64

   if argObj.hasOwnProperty('communications')
    +e.item
     +b.dropdown-module 
      +e.button Коммуникации
      +e.hidden 
       +e.UL.list 
        +e.LI.list-item 
         +e.LABEL.label.radio
          input(type="radio" name="communications" value="Все" checked)
          +e.SPAN.list-row
           +e.name Все
           +e.count 64
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="communications" value="Газ")
          +e.SPAN.list-row
           +e.name Газ
           +e.count 5
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="communications" value="Электричество")
          +e.SPAN.list-row
           +e.name Электричество
           +e.count 22
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="communications" value="Водоснабжение")
          +e.SPAN.list-row
           +e.name Водоснабжение
           +e.count 12
        +e.LI.list-item 
         +e.LABEL.label.checkbox
          input(type="radio" name="communications" value="Канализация")
          +e.SPAN.list-row
           +e.name Канализация
           +e.count 13

   if argObj.hasOwnProperty('resetBtn')
    +e.item 
     +e.reset-link 
      +icon('cross')
      span Сбросить фильтры

mixin page-sorting(hideSquare)
 +b.page-sorting(class="__sorting") 
  mixin sort-svg()
   svg(width='8' height='14' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M3.691.374a.4.4 0 0 1 .618 0L7.79 4.595a.4.4 0 0 1-.308.655H.518a.4.4 0 0 1-.308-.655L3.69.375Z')
    path(d='M4.309 13.626a.4.4 0 0 1-.618 0L.21 9.405a.4.4 0 0 1 .308-.655h6.964a.4.4 0 0 1 .308.655l-3.481 4.22Z')
  +e.label Сортировать по:
  +e.LABEL.button(class=" js-toggle-sorting") 
   input(type="radio" value="price" name="sorting" checked).sorting-asc
   span стоимости
   +sort-svg()
  if !hideSquare
   +e.LABEL.button(class=" js-toggle-sorting") 
    input(type="radio" value="square" name="sorting")
    span площади
    +sort-svg()

mixin catalog-row-item(item)
 +b.catalog-row-item
  +e.top
   +e.A(href=item.link).image 
    img(src=item.img, alt=item.title)
   +e.A(href=item.link).title-mobile=item.title 
  +e.content 
   +e.A(href=item.link).title=item.title 
   if item.tags && item.tags.length > 0
    +e.tags 
     each tag in item.tags
      +e.tag 
       +icon(tag.icon)
       span=tag.name
   +e.params 
    +e.params-item 
     +e.params-name Локация
     +e.params-value 
      +icon('map-pin')
      span Московская обл.
    +e.params-item 
     +e.params-name Стоимость участка
     +e.params-value 
      +icon('rub')
      span от 230 000 ₽
    +e.params-item 
     +e.params-name Форма управления
     +e.params-value 
      +icon('gear')
      span ДНП 
      span.answer-icon 
       +icon('help')
    +e.params-item 
     +e.params-name Готовность дома
     +e.params-value 
      +icon('check')
      span Да
    +e.params-item 
     +e.params-name Удаленность от города
     +e.params-value 
      +icon('routing')
      span 80 км
   +e.show-more
    span Показать больше
    +icon('arrow-bottom')
mixin catalog-item(item)
 +b.catalog-item 
  +e.inner
   +e.slider.swiper-container.js-catalog-item-swiper
    if item.tags && item.tags.length > 0
     +e.tags 
      each tag in item.tags
       +e.tag 
        if tag === 'Можно посетить'
         +icon('home')
        else if tag === '3D-тур'
         +icon('cube')
        else if tag === 'Видеотрансляция'
         +icon('video')
        span=tag
    if item.isFinished
     +e.status Продан
    +e.slider-pagination.swiper-pagination
    .swiper-wrapper 
     .swiper-slide
      +e.A(href=item.link).image 
       img(src=item.img, alt=item.title)
     .swiper-slide
      +e.A(href=item.link).image 
       img(src='assets/images/catalog/2.png', alt=item.title)
     .swiper-slide
      +e.A(href=item.link).image 
       img(src='assets/images/catalog/3.png', alt=item.title)
     .swiper-slide
      +e.A(href=item.link).image 
       img(src='assets/images/catalog/2.png', alt=item.title)

   +e.A(href=item.link).title=item.title 
   +e.UL.params 
    +e.LI.params-item 
     +e.params-icon 
      +icon('size')
     +e.params-value #{item.square} м²
    +e.LI.params-item 
     +e.params-icon 
      +icon('menu')
     +e.params-value=item.floor
    if item.time
     +e.LI.params-item 
      +e.params-icon 
       +icon('clock')
      +e.params-value=item.time
    if item.category
     +e.LI.params-item 
      +e.params-icon 
       +icon('play')
      +e.params-value=item.category
    if item.year
     +e.LI.params-item 
      +e.params-icon 
       +icon('calendar')
      +e.params-value=item.year
   if item.price
    +e.price=item.price

  // Hidden item content
  +e.hidden
   if block 
    block